DirectoryIndex index.php

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http:\/\/%1/$1 [R=301,QSA,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,QSA,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ / [R=301,QSA,L]
RewriteRule (.*)/$ /$1 [R=301,QSA,L]

#RewriteRule %{QUERY_STRING} ^.+$
#RewriteRule ^(.*)$ /$1? [R=301,L]



# 301 Redirect
Redirect 301 /zdaniya /ventilyaciya-zdaniya.html
Redirect 301 /obslujivanie /obsluzhivanie-kondcionerov.html
Redirect 301 /price /remont-vozduhovodov.html
Redirect 301 /page1 /dezinfekciya-vozduhovodov.html
Redirect 301 /page2 /montazh-ventilyacii.html
Redirect 301 /proect /proektirovanie-ventilyacii.html
Redirect 301 /avtomoyki /ventilyaciya-avtomojki.html
Redirect 301 /kafe /ventilyaciya-kafe.html

Redirect 301 /basseyna /ventilyacii-bassejna.html
Redirect 301 /doma /ventilyaciya-zagorodnogo-doma.html
Redirect 301 /kottedzha /ventilyaciya-kottedzha.html
Redirect 301 /restorana /ventilyaciya-restorana.html
Redirect 301 /magazina /ventilyaciya-torgovogo-centra.html
Redirect 301 /ceha /ventilyaciya-cekha.html

Redirect 301 /page38 /montazh-vozduhovodov.html

Redirect 301 /chistka /chistka-kondcionerov.html
Redirect 301 /kondishn /kondicionirovanie.html
Redirect 301 /cooler /ventilyaciya.html
Redirect 301 /price /ceny-na-kondicionirovanie-i-ventilyaciyu.html
Redirect 301 /contact /feed.html
Redirect 301 /page108 /montazh-kondcionerov.html
#Redirect 301 /xxx.html /feed.html?do=x
Redirect 301 /garantiya-na-ventilyaciyu-i-kondicionirovanie.html /nam-doveryayut.html







# Редиректы
RewriteRule ^page/([0-9]+)(/?)$ index.php?cstart=$1 [QSA,L]

# Сам пост
RewriteRule ^([0-9]{4})/([0-9]{2})/([0-9]{2})/page,([0-9]+),([0-9]+),(.*).html$ index.php?subaction=showfull&year=$1&month=$2&day=$3&news_page=$4&cstart=$5&news_name=$6&seourl=$6 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})/([0-9]{2})/page,([0-9]+),(.*).html$ index.php?subaction=showfull&year=$1&month=$2&day=$3&news_page=$4&news_name=$5&seourl=$5 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})/([0-9]{2})/print:page,([0-9]+),(.*).html$ engine/print.php?subaction=showfull&year=$1&month=$2&day=$3&news_page=$4&news_name=$5&seourl=$5 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})/([0-9]{2})/(.*).html$ index.php?subaction=showfull&year=$1&month=$2&day=$3&news_name=$4&seourl=$4 [QSA,L]

RewriteRule ^([^.]+)/page,([0-9]+),([0-9]+),([0-9]+)-(.*).html$ index.php?newsid=$4&news_page=$2&cstart=$3&seourl=$5&seocat=$1 [QSA,L]
RewriteRule ^([^.]+)/page,([0-9]+),([0-9]+)-(.*).html$ index.php?newsid=$3&news_page=$2&seourl=$4&seocat=$1 [QSA,L]
RewriteRule ^([^.]+)/print:page,([0-9]+),([0-9]+)-(.*).html$ engine/print.php?news_page=$2&newsid=$3&seourl=$4&seocat=$1 [QSA,L]
RewriteRule ^([^.]+)/([0-9]+)-(.*).html$ index.php?newsid=$2&seourl=$3&seocat=$1 [QSA,L]

RewriteRule ^page,([0-9]+),([0-9]+),([0-9]+)-(.*).html$ index.php?newsid=$3&news_page=$1&cstart=$2&seourl=$4 [QSA,L]
RewriteRule ^page,([0-9]+),([0-9]+)-(.*).html$ index.php?newsid=$2&news_page=$1&seourl=$3 [QSA,L]
RewriteRule ^print:page,([0-9]+),([0-9]+)-(.*).html$ engine/print.php?news_page=$1&newsid=$2&seourl=$3 [QSA,L]
RewriteRule ^([0-9]+)-(.*).html$ index.php?newsid=$1&seourl=$2 [QSA,L]

# За день
RewriteRule ^([0-9]{4})/([0-9]{2})/([0-9]{2})(/?)+$ index.php?year=$1&month=$2&day=$3 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})/([0-9]{2})/page/([0-9]+)(/?)+$ index.php?year=$1&month=$2&day=$3&cstart=$4 [QSA,L]
# За весь месяц
RewriteRule ^([0-9]{4})/([0-9]{2})(/?)+$ index.php?year=$1&month=$2 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})/page/([0-9]+)(/?)+$ index.php?year=$1&month=$2&cstart=$3 [QSA,L]
# Вывод за весь год
RewriteRule ^([0-9]{4})(/?)+$ index.php?year=$1 [QSA,L]
RewriteRule ^([0-9]{4})/page/([0-9]+)(/?)+$ index.php?year=$1&cstart=$2 [QSA,L]
# вывод отдельному тегу
RewriteRule ^tags/([^/]*)(/?)+$ index.php?do=tags&tag=$1 [QSA,L]
RewriteRule ^tags/([^/]*)/page/([0-9]+)(/?)+$ index.php?do=tags&tag=$1&cstart=$2 [QSA,L]
# поиск по доп полям
RewriteRule ^xfsearch/([^/]*)(/?)+$ index.php?do=xfsearch&xf=$1 [QSA,L]
RewriteRule ^xfsearch/([^/]*)/page/([0-9]+)(/?)+$ index.php?do=xfsearch&xf=$1&cstart=$2 [QSA,L]
# вывод для отдельного юзера
RewriteRule ^user/([^/]*)/rss.xml$ engine/rss.php?subaction=allnews&user=$1 [QSA,L]
RewriteRule ^user/([^/]*)(/?)+$ index.php?subaction=userinfo&user=$1 [QSA,L]
RewriteRule ^user/([^/]*)/page/([0-9]+)(/?)+$ index.php?subaction=userinfo&user=$1&cstart=$2 [QSA,L]
RewriteRule ^user/([^/]*)/news(/?)+$ index.php?subaction=allnews&user=$1 [QSA,L]
RewriteRule ^user/([^/]*)/news/page/([0-9]+)(/?)+$ index.php?subaction=allnews&user=$1&cstart=$2 [QSA,L]
RewriteRule ^user/([^/]*)/news/rss.xml(/?)+$ engine/rss.php?subaction=allnews&user=$1 [QSA,L]
# вывод всех последних новостей
RewriteRule ^lastnews(/?)+$ index.php?do=lastnews [QSA,L]
RewriteRule ^lastnews/page/([0-9]+)(/?)+$ index.php?do=lastnews&cstart=$1 [QSA,L]
# вывод в виде каталога
RewriteRule ^catalog/([^/]*)/rss.xml$ engine/rss.php?catalog=$1 [QSA,L]
RewriteRule ^catalog/([^/]*)(/?)+$ index.php?catalog=$1 [QSA,L]
RewriteRule ^catalog/([^/]*)/page/([0-9]+)(/?)+$ index.php?catalog=$1&cstart=$2 [QSA,L]
# вывод непрочитанных статей
RewriteRule ^newposts(/?)+$ index.php?subaction=newposts [QSA,L]
RewriteRule ^newposts/page/([0-9]+)(/?)+$ index.php?subaction=newposts&cstart=$1 [QSA,L]
# вывод избранных статей
RewriteRule ^favorites(/?)+$ index.php?do=favorites [QSA,L]
RewriteRule ^favorites/page/([0-9]+)(/?)+$ index.php?do=favorites&cstart=$1 [QSA,L]

RewriteRule ^rules.html$ index.php?do=rules [QSA,L]
RewriteRule ^statistics.html$ index.php?do=stats [QSA,L]
RewriteRule ^addnews.html$ index.php?do=addnews [QSA,L]
RewriteRule ^rss.xml$ engine/rss.php [QSA,L]
#RewriteRule ^sitemap.xml$ uploads/sitemap.xml [QSA,L]


# ================ popups ==========================================
RewriteRule ^successfull.html$ index.php?do=static&page=successfull [QSA,L]
RewriteRule ^callback.html$ index.php?do=static&page=callback [QSA,L]
# ================ popups ==========================================


RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)/page/([0-9]+)(/?)+$ index.php?do=cat&category=$1&cstart=$2 [QSA,L]
RewriteRule ^([^.]+)/?$ index.php?do=cat&category=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)/rss.xml$ engine/rss.php?do=cat&category=$1 [QSA,L]
RewriteRule ^page,([0-9]+),([^/]+).html$ index.php?do=static&page=$2&news_page=$1&seourl=$2 [QSA,L]
RewriteRule ^print:([^/]+).html$ engine/print.php?do=static&page=$1&seourl=$1 [QSA,L]



RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^/]+).html$ index.php?do=static&page=$1&seourl=$1 [QSA,L]
#RewriteRule ^blagodarnosti.html$ index.php?do=static_get&page=blagodarnosti&seourl=blagodarnosti [QSA,L]
RewriteRule ^([^/]+).html$ index.php?do=static_get&page=$1&seourl=$1 [QSA,L]